add-advice {

    ion-header{
        width: 100%;
        padding: 1rem 1.5rem;
        color: #4184D1;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }

    ion-content{

        .scroll-content{
            padding-top: 0 !important;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ion-item{
            padding: 0 !important;
        }

        ion-textarea, textarea{
            height: 20rem;
        }

        .note{
            width: 100%;
            margin-top: 3.5rem;
            .stars{
                font-size: 2.6rem;
            }

        }

        button{
            width: 40%;
            margin-top: 3rem !important;
            ion-icon{
                margin-right: 2rem;
            }
        }
    }
}

