<ion-header>
    <div class="navbar" color="primary">
        <div class="back" (click)="backNav()">
            <ion-icon name="ios-arrow-back"></ion-icon>{{terms.back}}                 
        </div>
        <ion-title>{{terms.myPlaces}}</ion-title>
    </div>
</ion-header>

<ion-content>
    <ul>
        <li *ngFor="let place of myPlaces" (click)="openMapPlace(place)">
            <div id="{{place.nom}}">
                {{getLogo(place)}}{{place.nom}}
            </div>
            <button ion-button color="secondary" *ngIf="place.isSended == false" (click)="send(place)">{{terms.send}}</button>  
            <div class="valid-icon" *ngIf="place.isSended != false">{{terms.sended}}<ion-icon name="ios-cloud-done-outline"></ion-icon></div>            
            <ion-icon class="delete" name="close" (click)="toggleLike($event, place)"></ion-icon>    
        </li>
        <li *ngIf="myPlaces.length == 0">{{terms.noPlaces}}</li>
    </ul>

</ion-content>
