myplace-page{
    ion-header{
        width: 100%;
        height: 56px;

        .navbar{
            height: 100%;
            background: color($colors, primary, base);
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem 1rem;

            .back{
                width: auto;
                font-size: 1.7rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                z-index: 3;

                ion-icon{
                    margin-right: 1rem;
                    font-size: 2.7rem;
                }
            }

            ion-title{
                width: 100%;
                text-align: center;
                position: absolute;
                z-index: 2;

                div{
                    color: white !important;
                }
            }

        }
    }

    ion-content{
        ul{
            width: 100%;
            padding: 0;
            margin: 1rem;
    
    
            li{
                width: 95%;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #E6E6E6;
                min-height: 3.5rem;
    
                div{
                    padding: 0.5rem;
                    margin: 0 !important;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 50%;
                    img{
                        height: 3.5rem;
                        width: 3.5rem;
                        margin: 0 1.5rem 0 0.5rem;
                    }
                }
    
                .valid-icon{
                    justify-content: flex-end;
    
                    ion-icon{
                        margin-left: 2rem;
                        font-size: 3rem;
                    }
                }

                .delete{
                    color: red;
                    font-size: 2.7rem;
                    padding: 0 1.5rem 0 2rem;;
                }
            }
        }
    }
}