page-home {
    min-height: 100vh !important;
    .pac-container.pac-logo.hdpi::after{
        content: "" !important;
        visibility: hidden !important;
    }
    
    .upped{
        transform: translateY(-10rem);
    }
    
    .downed{
        transform: translateY(10rem);
    }

    .offline-message{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh !important;
    }
    
    #map {
        display: block;
        width: 100%;
        height: 100vh !important;
        overflow: none;
        z-index: 1;

        .mapbox-marker{
            position: absolute;
            background: no-repeat top left;
        }

        .mapboxgl-popup{
            width: 75vw !important;
            height: 12rem;
            background: white;
            padding: 1.5rem 2rem 1.5rem 0;
            border-radius: 3px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            position: absolute;
            margin-top: -45px;
            
            .mapboxgl-popup-close-button{
                position: absolute;
                top: 0.2rem;
                right: 0.2rem;
                float: right;
                background: white;
                font-size: 2rem;
                padding: 0;
            }
            
            .mapboxgl-popup-content{
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
            }
            
        }
    }

    #map-loader{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: none;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.2s;
        z-index: 2;

        ion-spinner{
            margin-top: 3rem;
            svg, svg circle{
                stroke: color($colors, primary, base) !important;                
            }
        }
    }

    .scroll-content{
        display: flex !important;        
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        min-height: 100vh !important;
        overflow: hidden;
        

        native-header{
            height: 56px !important;
            width: 100%;
        }

        native-footer{
            background: white;
            height: auto !important;
            width: 100%;
            bottom: -1px !important; 
        }

        .toolbar-content{
            height: 100%;
            display: flex;
            align-items: center;
        }
        
        .info-window, .mapboxgl-popup{
            min-width: 60vw !important;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h1, h2, h3, h4, h5, h6{
                margin: 0;
            }

            img{
                width: 70px;
                height: 70px;
                margin-right: 1rem;
                object-fit: cover;
            }

            .info{
                
                h2{
                    font-size: 2rem;
                }
                                
                h3{
                    font-size: 1.3rem;
                    padding: 0.3rem 0; 
                }

                img{
                    margin-top: 0.8rem;
                    height: 1.8rem;
                    width: auto;
                }
            }
        }
    }

    .gmnoprint{
        display: none;
    }

    .control{
        height: 2.8rem;
        width: 2.8rem;
        transition: 0.4s;
        position: absolute;
        right: 1.4rem;
        z-index: 2;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        opacity: 0.8;

        ion-icon{
            font-size: 2.1rem;
            color: #505050;
        }
    }

    .control.hidden{
        opacity: 0;
    }

    .add-place{
        top:65px;
        margin-top: 2.8rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        img{
            height: 100%;
        }
    }

    .info{
       top: 65px;
       border-bottom-left-radius: 0;
       border-bottom-right-radius: 0;

    }

    .locate{
        bottom: 65px;

    }
}
.leaflet-bottom.leaflet-right, .leaflet-top.leaflet-left{
    display: none !important;
}

.gm-style div a[target="_blank"]{
    display: none;
}

@keyframes hueRotate {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}