page-home {

    .pac-container.pac-logo.hdpi::after{
        content: "" !important;
        visibility: hidden !important;
    }
    
    .upped{
        transform: translateY(-10rem);
    }
    
    .downed{
        transform: translateY(10rem);
    }
    
    #map {
        display: block;
        width: 100%;
        height: 100% !important;
        overflow: none;
        z-index: 1;
    }

    #map-loader{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: none;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.2s;
        z-index: 2;

        ion-spinner{
            margin-top: 3rem;
            svg, svg circle{
                stroke: color($colors, primary, base) !important;                
            }
        }
    }

    .scroll-content{
        display: flex !important;        
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-height: 100vh;
        overflow: hidden;
        

        native-header{
            height: 56px !important;
            width: 100%;
        }

        native-footer{
            height: auto !important;
            width: 100%;
        }

        .toolbar-content{
            height: 100%;
            display: flex;
            align-items: center;
        }
        
        .info-window{
            min-width: 60vw !important;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            h1, h2, h3, h4, h5, h6{
                margin: 0;
            }

            svg{
                margin-right: 1rem;
            }

            .info{
                
                h2{
                    font-size: 2rem;
                }
                                
                h3{
                    font-size: 1.3rem;
                    padding: 0.3rem 0; 
                }

                img{
                    margin-top: 0.8rem;
                    height: 1.8rem;
                }
            }
        }
    }

    .gmnoprint{
        display: none;
    }
}

@keyframes hueRotate {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}