page-home {
    
    #map {
        display: block;
        width: 100%;
        height: 91%;
        overflow: none;
    }

    .scroll-content{
        display: flex !important;        
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-height: 100vh;
        overflow: hidden;
        

        native-header{
            height: 56px !important;
            width: 100%;
        }

        native-footer{
            height: auto !important;
            width: 100%;
        }

        .toolbar-content{
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}
