<div *ngIf="isColored">
    <img *ngIf="selectedIcon == 'Experience'" src="assets/images/enjoying.png" alt="">
    <img *ngIf="selectedIcon == 'Restaurant'" src="assets/images/eating.png" alt="">
    <img *ngIf="selectedIcon == 'Hotel'" src="assets/images/housing.png" alt="">
    <img *ngIf="selectedIcon == 'NGO'" src="assets/images/fairing.png" alt="">
</div>

<div *ngIf="!isColored">     
    <img *ngIf="selectedIcon == 'Experience'" src="assets/images/enjoying-white.png" alt="">
    <img *ngIf="selectedIcon == 'Restaurant'" src="assets/images/eating-white.png" alt="">
    <img *ngIf="selectedIcon == 'Hotel'" src="assets/images/housing-white.png" alt="">
    <img *ngIf="selectedIcon == 'NGO'" src="assets/images/fairing-white.png" alt="">
</div>