searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-bar-container{
        background: white;
        height: 60%;
        width: 80%;
        color: #717171;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 0.5rem 1rem;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
        transition: 0.1s;

        input{
            outline: none;
            border: none;
            width: 85%;
        }

        .hidden{
            visibility: hidden;
        }

        .ion-ios-close{
            font-size: 1rem;
        }

    }
}

.extended-search-bar{
    .search-bar-container{
        width: 95%;
        box-shadow: 0 3px 7px 0 rgba(0,0,0,0.25),0 0 0 2px rgba(0,0,0,0.15);        
    }
}