info-page{
    ion-header{
        width: 100%;
        height: 56px;

        .navbar{
            height: 100%;
            background: color($colors, primary, base);
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem 1rem;

            .back{
                width: auto;
                font-size: 1.7rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                z-index: 3;

                ion-icon{
                    margin-right: 1rem;
                    font-size: 2.7rem;
                }
            }

            ion-title{
                width: 100%;
                text-align: center;
                position: absolute;
                z-index: 2;

                div{
                    color: white !important;
                }
            }

        }
    }

    ion-content{

        ion-list{
            margin-top: 2rem !important;

            button{
                padding: 0 !important;

                .inner-item{

                    background: #5C5C5C !important;
                }

                .input-wrapper{
                    padding: 0 0 0 1.5rem !important;
                }
            }

            .follow .input-wrapper ion-label{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .follow-buttons{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 60%;
                    padding: 0 3.5rem;
                    font-size: 2rem;
                    color: #555555;
                    z-index: 60 !important;
                }
            }
        }
    }

}