page-place-details{
    ion-header{
        width: 100%;

        .navbar{
            background: color($colors, primary, base);
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem 1rem;

            .back{
                width: 33%;
                font-size: 1.7rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                ion-icon{
                    margin-right: 1rem;
                    font-size: 2.7rem;
                }
            }

            #svg-icon{
                
                width: 33%;
                display: flex !important;
                align-items: center;
                justify-content: center;

                img{
                    height: 4rem;
                    fill: white;
                }
            }

            .interact{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 33%;
                //padding-left: 13%;
                ion-icon{
                    max-width: 49%;
                    font-size: 2.8rem;
                    padding: 0 1rem;
                }
            }
        }
    }

    .place-details{
        height: 100%;

        .reduced{
            height: 15% !important;
            padding-top: 10%;
        }
    
        .images{
            transition: 0.2s;
            height: 37%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        .image{
            background-size: cover !important;
            background-position: center;
            height: 100%;
            width: 100%;
            transition: 0.4s;
        }

        .details{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .place-name{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.4rem;
                height: 6rem;
                border-bottom: 1px solid #B6B6B6;
                min-width: 80%;
            }

            .place-type{
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1.4rem;
                height: 6rem;
                border-bottom: 1px solid #B6B6B6;
            }

            .place-note{
                width: 80%;
                height: 8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 3rem;
                padding: 1.5rem 0;
                border-bottom: 1px solid #B6B6B6;

                p{
                    font-size: 1.5rem;  
                    margin: 0.5rem 0 !important;
                    color: #5151FF;
                }
            }

            .place-infos{
                width: 85%;
                padding: 0;

                h5{
                    margin: 1rem 0 1.5rem 0;
                }

                .link{
                    color: #4F4FF5;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    margin: 1rem 0;

                    ion-icon{
                        font-size: 2rem;
                        color: black;
                        margin-right: 1rem;
                    }
                }
            }
        }

        .advices{
            width: 90%;
            margin-top: 3rem;
            .title{
                text-align: center;
            }
            .advice-content{
                padding: 2.5% 5%;
                background: #f9f9f9;
                border: 1px solid #f1f1f1;
                text-align: left;
                margin-top: 1rem;

            }

            p{
                padding: 1rem 0;;
                margin: 0;
            }
        }
    }
}